/*
Theme Name:     HWP
Description:    Child theme
Author:         admin
Template:       Divi
Version:        1.0

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

/* Import partials */
@import "partials/base";
@import "partials/plugins";

/** MOBILE FIRST **/



/**
 * Misc styles
 */
 
// breadcrumbs
.breadcrumbs {
  line-height: 110%;
  margin-bottom: 20px;

  span[property="name"] { // truncate
    max-width: 150px;
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include transition(all 0.3s);
    &:hover {max-width: 1000px;} // show whole text on hover
  }
}

// add a callout style button on the main menu - i.e. "get started"
//#et-top-navigation nav > ul > 
.main-menu-callout > a {  // add custom colors, etc in theme CSS
  padding: 10px 15px 10px !important;
  margin: -10px 0 0; // offset top padding
  background: #308E20;
  color: #FFF;
  @include border-radius(2px);
}

// archive.php - style title and description
.archive-category-wrapper {margin-bottom: 40px;}



/**
 * End Misc styles
 */


/**
 * Divi Layout overrides
 */
// fit full width (divi uses 80%)
.container,
.et_pb_row {width: 90%;}

// if no sidebar, make main content area 100% wide
.no-right-sidebar {
  #page-container #left-area {
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }
}

/**
 * custom classes for Builder modules (for use in the CSS screen)
 */
/* overrides for Shop module on home page (same div as .et_pub_shop) */
.featured-products {
}


/**
 * Divi overrides
 */

body {font-weight: 400;}// override divi font weight 

.type-post .entry-content p:last-of-type {
    padding-bottom: 1em; /* keep padding after last P inside the content area */
}

#main-header {
  box-shadow: none;
  .et-cart-info {display: none;} // remove shopping cart icon 
}

#et-top-navigation {
  font-weight: 400; // remove default BOLD on menu items
}

// top menu
#top-menu-nav {
  // drop down menu
  ul.sub-menu {
    padding: 4px 0;
    width: auto;
    // border-top: none; // remove the sub-menu line
    li {
      margin: 0;
      padding: 0;
    }
  } 
}

#top-menu-nav > ul > li > a:hover,
#et-secondary-menu > ul > li > a:hover,
#et-info-email:hover,
.et-social-icons a:hover {
  opacity: 0.8; // more opaque
}

// #et-main-area {position: relative;} // for shopping cart icon placememt

#main-content {
  background-color: inherit !important; // allow bg color changes from customizer - divi bug?
}

.et_vertical_nav {
  #main-header .container {margin: 0 30px;}
  #logo {
    max-height: 80%;
  }
}

/* Sidebar */
.sidebar-border-disable { // class added by customizer
  // remove sidebar line
  .container:before { background-color: transparent !important; } 
  .et_pb_widget_area_right { border-left: 0; }

  #sidebar .sidebar-inner {margin-left: 0 !important;}
}

.et_right_sidebar {
  #left-area {}
  #sidebar {
    padding: 0; // moved to new inner class below
    .sidebar-inner {
      padding: 10px;
    }
  }// class added by customizer
}

/* Comments */
.comment .children {
  margin-left: 50px;
}

.comment-body {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .comment_postinfo {
    span.fn,
    span.fn a {
      font-weight: 400;
      display: block; // display on its own line
    }
  }

  .comment_area .comment-reply-link {
    top: inherit;
    bottom: 30px; // move reply button to bottom of block - minus padding
    padding: 0px 8px !important;
    font-size: 16px;
    font-weight: 400;
    &:hover {
      padding: 0px 8px !important;
      font-size: 16px;
    }
  }
}

#commentform {
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="url"] {
      background-color: #f2f2f2;
      border: medium solid #EEE;
      color: #666;
  }
}

/* Pre Footer */
#pre-footer {
  padding: 20px 0;
}

/* Footer */
footer {
  #footer-bottom {
    padding: 20px 0 80px; // change footer 
   }
  &.powered-by-disable { // class added by customizer - removes Powered By text in live preview
    #powered-by {
      display: none;
    }
  }
  #powered-by {
    a {font-weight: bold; color: inherit;}
  }
}
//.wp-customizer #powered-by {display: none;}


// mobile menu
ul#mobile_menu {
  padding: 2% !important;
}

/* builder column */
.home .et_pb_column {margin-bottom: 0;} // divi builder doesnt work

/* bloom optin form */
.et_bloom .et_bloom_inline_form {margin: 0;} // bloom optin form - remove hardcoded margin - builder doesn't have margin option here*/

/* blurb module */
.et_pb_blurb_content {max-width: initial;} // remove max-width

/* Shop module product overrides */
.et_pb_shop {
  margin-bottom: 0 !important;
  ul.products {
    margin-bottom: 0;
    li.product {
      h3,
      .price {display: none !important;}
    }
  }
} 


/**
 * End Divi overrides
 */


/**
 * Login page styles
 */
body.login {
  background-color: #EAF0EE;

  div#login {
      width: 100%;
      max-width: $login-width;
    h1 a {
      background: url(images/turnkeyWP-logo.png) no-repeat center center;
      width: 190px;
      height: 50px;
    }
    form#loginform,
    form#lostpasswordform {
      @include border-radius(20px);
      @include box-shadow(7px 7px 20px rgba(0, 0, 0, 0.15));
      background: none;
      .forgetmenot {
        float: none;
      }
      p.submit {
        text-align: center;
        margin-top: 20px;
        input.button-primary {
          float: none;
          background: #0a96b7;
          display: block;
          width: 100%;
          height: auto !important;
          line-height: 38px !important;
          box-shadow: none;
          border: none;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    #nav,
    #backtoblog {
      display: none;
    }

    #login_error,
    .message {
      background-color: rgba(0, 0, 0, 0.05);
      @include border-radius(20px);
      @include box-shadow(none);
      margin-bottom: 5px;
    }

    .login-message {text-align: center;} //this message/class is added in functions.php
  }

  .login-footer-message {
    width: 100%;
    max-width: $login-width;
    margin: 50px auto;
    padding: 0 20px;
    color: #888888;
    @include box-sizing(border-box);
    p {margin-bottom: 1.5em;}
  }
}
/**
 * End Login page styles
 */



/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 960px) {
  // #main-content {background-color: #0000FF;} //blue
  
// fit full width (divi uses 80%)
.container,
.et_pb_row {width: 90%;}

.breadcrumbs {font-size: 85%;}


/* right sidebar */
.et_right_sidebar {
  #left-area { }
  #sidebar {
    .sidebar-inner {
      /* padding: 10px; */ /* was 20px for some reason*/
      margin-left: 10px;
    }
  }
}


} // end @media


/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 480px) and (max-width: 959px) {
// #main-content {background-color: #00FF00;} //green
#logo {max-height: 100%;}

#powered-by {text-align: center;}

} // end @media


/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (max-width: 479px) {

#powered-by {text-align: center;}

} // end @media






/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  /*position: relative;*/
  z-index: 99;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.75);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
/*[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}*/

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


