/* styles for Admin pages and plugin admin pages-  */
/* Import partials */
/*
 * This stylesheet handles styling for ADMIN pages of plugins
 * use ".not-admin" to hide things from non-admin users only
*/
/** MOBILE FIRST **/
/* line 9, sass/partials/_admin-plugins.scss */
.hwp-hide {
  display: none !important;
}
/* line 11, sass/partials/_admin-plugins.scss */
.hwp-hide :before {
  content: 'test';
  display: block !important;
}

/**
  * White label public pages - hide plugin garbage that can't be hidden with functions
  */
/* line 19, sass/partials/_admin-plugins.scss */
.aioseop_advert,
#aiosp_upgrade_wrapper,
.aioseop_meta_box_help,
#aiosp_tabbed .aioseop_help_text_div label.aioseop_help_text a,
.aioseop_options_wrapper .postbox h2 a.aioseop_help_text_link,
.aioseop_options_wrapper .postbox label.aioseop_help_text a,
.quicktags-toolbar input#qt_content_wpss_cf,
.et-pb-option--tiny_mce input#qt_et_pb_content_new_wpss_cf,
.thirstylink_page_thirsty-settings .thirstyWhiteBox {
  display: none;
}

/* line 34, sass/partials/_admin-plugins.scss */
.thirstylink_page_thirsty-settings #export_import_controls_container.thirstyWhiteBox {
  display: inherit;
}

/* line 43, sass/partials/_admin-plugins.scss */
.not-admin.toplevel_page_et_divi_options ul#epanel-mainmenu li[aria-controls="wrap-navigation"],
.not-admin.toplevel_page_et_divi_options ul#epanel-mainmenu li[aria-controls="wrap-advertisements"],
.not-admin.toplevel_page_et_divi_options ul#epanel-mainmenu li[aria-controls="wrap-seo"],
.not-admin.toplevel_page_et_divi_options ul#epanel-mainmenu li[aria-controls="wrap-updates"] {
  display: none;
}
/* line 51, sass/partials/_admin-plugins.scss */
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(16),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(17),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(18),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(19),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(20),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(21),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(22),
.not-admin.toplevel_page_et_divi_options div#wrap-general #general-1 .epanel-box:nth-of-type(23) {
  display: none;
}

/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\
 */
/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\
 */
/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\
 */
/** MOBILE FIRST **/
/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\
 */
/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\
 */

/*# sourceMappingURL=admin-style.css.map */
