/*
Theme Name:     HWP test
Description:    HWP Child theme
Author:         admin
Template:       Divi
Version:        1.0.1

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
/* Import partials */
/*
 * This stylesheet sets variables and mixins used in other stylesheets 
 * this file is @import in style.scss
*/
/* Use Compass */
/* Variables */
/* end Variables */
/* Mixins */
/* end Mixins */
/*
 * This stylesheet handles styling and style overrides for various plugins
*/
/* Variables */
/** MOBILE FIRST **/
/**
  * White label public pages - hide plugin garbage that can't be hidden with functions
  */
/* line 21, sass/partials/_plugins.scss */
article.podcast .podcast_meta {
  margin: 5px 0 20px 10px;
  font-size: .9em;
}
/* line 24, sass/partials/_plugins.scss */
article.podcast .podcast_meta a:before {
  font-family: "ETmodules";
  padding-right: 5px;
}
/* line 28, sass/partials/_plugins.scss */
article.podcast .podcast_meta a.podcast-meta-download:before {
  content: '\e05f';
}
/* line 29, sass/partials/_plugins.scss */
article.podcast .podcast_meta a.podcast-meta-new-window:before {
  content: '\26';
}

/* line 35, sass/partials/_plugins.scss */
.wp-pagenavi {
  text-align: center;
}
/* line 38, sass/partials/_plugins.scss */
.wp-pagenavi span,
.wp-pagenavi a,
.wp-pagenavi a.nextpostslink,
.wp-pagenavi a.previouspostslink {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px !important;
  padding: 5px 10px;
  margin: 0 2px;
  font-weight: 400 !important;
  background: #F0F0F0;
  color: #333333 !important;
}
/* line 49, sass/partials/_plugins.scss */
.wp-pagenavi span:hover,
.wp-pagenavi a:hover,
.wp-pagenavi a.nextpostslink:hover,
.wp-pagenavi a.previouspostslink:hover {
  background: #BBBBBB;
  color: #FFFFFF !important;
}
/* line 54, sass/partials/_plugins.scss */
.wp-pagenavi span.current {
  font-weight: 700 !important;
  background: #BBBBBB;
  color: #FFFFFF !important;
}

/* line 67, sass/partials/_plugins.scss */
.wpcf7 .wpcf7-form input[type="text"],
.wpcf7 .wpcf7-form input[type="email"],
.wpcf7 .wpcf7-form input[type="tel"],
.wpcf7 .wpcf7-form input[type="url"],
.wpcf7 .wpcf7-form input[type="number"],
.wpcf7 .wpcf7-form input[type="date"],
.wpcf7 .wpcf7-form input.text,
.wpcf7 .wpcf7-form input.title,
.wpcf7 .wpcf7-form textarea,
.wpcf7 .wpcf7-form select {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #bbb;
  color: #4e4e4e;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}
/* line 83, sass/partials/_plugins.scss */
.wpcf7 .wpcf7-form input[type="text"]:focus,
.wpcf7 .wpcf7-form input[type="email"]:focus,
.wpcf7 .wpcf7-form input[type="tel"]:focus,
.wpcf7 .wpcf7-form input[type="url"]:focus,
.wpcf7 .wpcf7-form input[type="number"]:focus,
.wpcf7 .wpcf7-form input[type="date"]:focus,
.wpcf7 .wpcf7-form input.text:focus,
.wpcf7 .wpcf7-form input.title:focus,
.wpcf7 .wpcf7-form textarea:focus,
.wpcf7 .wpcf7-form select:focus {
  border: 1px solid #bbb;
  background-color: #f2f2f2;
}
/* line 89, sass/partials/_plugins.scss */
.wpcf7 .wpcf7-form input[type="submit"],
.wpcf7 .wpcf7-form input.wpcf7-submit {
  padding: 8px 12px;
  font-size: 14px;
  color: #333333;
  background: #CCCCCC;
  border: none;
  cursor: pointer;
}
/* line 97, sass/partials/_plugins.scss */
.wpcf7 .wpcf7-form input[type="submit"]:hover,
.wpcf7 .wpcf7-form input.wpcf7-submit:hover {
  background: #AAAAAA;
  border: none;
}

/* line 106, sass/partials/_plugins.scss */
#wpfront-notification-bar {
  z-index: 100000 !important;
}
/* line 109, sass/partials/_plugins.scss */
#wpfront-notification-bar .wpfront-close {
  display: block;
  padding: 0 !important;
  top: 50% !important;
  right: 15px !important;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  line-height: 20px !important;
  overflow: hidden;
}
/* line 120, sass/partials/_plugins.scss */
#wpfront-notification-bar .wpfront-close:before {
  font-family: "ETmodules" !important;
  content: '\004D';
  display: block;
  position: relative;
  font-size: 18px;
}

/* line 130, sass/partials/_plugins.scss */
#wpfront-notification-bar-open-button {
  z-index: 100000 !important;
  font-family: "ETmodules";
  border: none;
  box-shadow: none;
  right: 15px;
  text-align: center;
  font-size: 20px;
}
/* line 138, sass/partials/_plugins.scss */
#wpfront-notification-bar-open-button.top, #wpfront-notification-bar-open-button.bottom {
  /*background: rgba(0, 0, 0, 0.25); */
  /*cant control bg opacity and have the color picker work */
  background-image: none;
  color: #FFF;
}
/* line 144, sass/partials/_plugins.scss */
#wpfront-notification-bar-open-button.top:before {
  content: "3";
}
/* line 145, sass/partials/_plugins.scss */
#wpfront-notification-bar-open-button.bottom:before {
  content: "2";
}

/* line 151, sass/partials/_plugins.scss */
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text {
  color: #333333 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* line 160, sass/partials/_plugins.scss */
.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity {
  margin-right: 10px !important;
}

/* line 169, sass/partials/_plugins.scss */
.woocommerce-pagination ul.page-numbers {
  border: none !important;
}
/* line 171, sass/partials/_plugins.scss */
.woocommerce-pagination ul.page-numbers li {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none !important;
  font-size: 15px !important;
  padding: 0 !important;
  margin: 0 2px !important;
  font-weight: 400 !important;
  background: #F0F0F0;
}
/* line 179, sass/partials/_plugins.scss */
.woocommerce-pagination ul.page-numbers li a,
.woocommerce-pagination ul.page-numbers li span.current {
  padding: 5px 10px !important;
  color: #333333 !important;
  line-height: 1.2em !important;
}
/* line 184, sass/partials/_plugins.scss */
.woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce-pagination ul.page-numbers li span.current:hover {
  color: #FFFFFF !important;
  background: #BBBBBB !important;
}
/* line 189, sass/partials/_plugins.scss */
.woocommerce-pagination ul.page-numbers li span.current {
  color: #FFFFFF !important;
  font-weight: 700 !important;
  background: #BBBBBB !important;
}

/* line 198, sass/partials/_plugins.scss */
.woo-cart {
  position: absolute;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: right;
}
/* line 207, sass/partials/_plugins.scss */
.woo-cart a {
  padding: 10px 15px;
  font-size: 80%;
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 211, sass/partials/_plugins.scss */
.woo-cart a .cart-icon {
  font-family: "ETmodules" !important;
  position: relative;
  top: 1px;
}

/* Product Catalog images (used on category pages and divi shop module */
/* line 221, sass/partials/_plugins.scss */
.et_shop_image {
  background-color: transparent;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  -moz-box-shadow: 0 0 5px #BBBBBB !important;
  -webkit-box-shadow: 0 0 5px #BBBBBB !important;
  box-shadow: 0 0 5px #BBBBBB !important;
  /* customize hover overlay */
  /* remove icon on hover */
  /* custom width for product tooltips */
}
/* line 225, sass/partials/_plugins.scss */
.home .et_shop_image {
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  -moz-box-shadow: 0 0 0px #BBBBBB !important;
  -webkit-box-shadow: 0 0 0px #BBBBBB !important;
  box-shadow: 0 0 0px #BBBBBB !important;
}
/* line 230, sass/partials/_plugins.scss */
.et_shop_image:hover .et_overlay {
  background-color: #000000;
}
/* line 231, sass/partials/_plugins.scss */
.et_shop_image:hover .et_overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
/* line 234, sass/partials/_plugins.scss */
.et_shop_image .et_overlay {
  border: none;
  background-color: transparent;
}
/* line 236, sass/partials/_plugins.scss */
.et_shop_image .et_overlay:before, .et_shop_image .et_overlay:after {
  display: none;
}
/* line 241, sass/partials/_plugins.scss */
.et_shop_image [data-tooltip]:before {
  width: 50px;
}

/* line 249, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce table.cart .product-thumbnail img {
  width: 150px;
}
/* line 255, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals .cross-sells > h2,
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals h2 {
  font-size: 1em;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 262, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals table.shop_table {
  margin-bottom: 10px !important;
}
/* line 266, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
  background-color: #0ab726;
}
/* line 268, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: #0ab726 !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 274, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals .wc-proceed-to-checkout.above {
  padding-top: 0;
}
/* line 276, sass/partials/_plugins.scss */
.woocommerce-cart .woocommerce .cart-collaterals .wc-proceed-to-checkout.above a.checkout-button {
  margin-bottom: 0;
}

/* line 286, sass/partials/_plugins.scss */
.woocommerce-order-received table.order_details .download-url {
  font-weight: 700;
  padding: 5px 20px;
  display: inline-block;
  background: #f0f0f0;
}
/* line 291, sass/partials/_plugins.scss */
.woocommerce-order-received table.order_details .download-url a {
  text-decoration: underline;
}
/* line 296, sass/partials/_plugins.scss */
.woocommerce-order-received .order-again {
  margin-bottom: 20px !important;
}

/* line 302, sass/partials/_plugins.scss */
.woocommerce abbr[class="required"],
.woocommerce .required[title] {
  border-bottom: none;
  text-decoration: none;
}
/* line 309, sass/partials/_plugins.scss */
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  line-height: inherit !important;
  padding: 6px 10px;
}
/* line 316, sass/partials/_plugins.scss */
.post-type-archive .woocommerce .woocommerce-breadcrumb {
  display: none;
}
/* line 317, sass/partials/_plugins.scss */
.woocommerce .woocommerce-breadcrumb {
  font-size: .85em;
}
/* line 319, sass/partials/_plugins.scss */
.woocommerce span.onsale {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-border-radius: 14px !important;
  -webkit-border-radius: 14px;
  border-radius: 14px !important;
  background-color: #0ab726 !important;
  font-size: 15px;
  padding: 2px 10px !important;
}
/* line 328, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs {
  border: none !important;
}
/* line 330, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs ul.tabs {
  background-color: transparent !important;
}
/* line 332, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs ul.tabs::before {
  border: none !important;
}
/* line 333, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs ul.tabs li {
  border-right: 0 !important;
  background-color: transparent !important;
  margin-right: 5px !important;
}
/* line 337, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs ul.tabs li.active, .woocommerce .woocommerce-tabs ul.tabs li:hover {
  border-bottom: 3px solid #f0f0f0 !important;
}
/* line 341, sass/partials/_plugins.scss */
.woocommerce .woocommerce-tabs .woocommerce-Tabs-panel h2 {
  display: none;
}
/* line 346, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details {
  float: left;
  width: 48.8%;
  box-sizing: border-box;
  padding-right: 30px;
}
/* line 351, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details .col-1,
.woocommerce .woocommerce-checkout #customer_details .col-2 {
  float: none;
  width: 100%;
}
/* line 354, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details .col-1 {
  margin-bottom: 15px;
}
/* line 356, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address {
  float: none;
}
/* line 359, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label {
  cursor: pointer;
  position: relative;
  display: block;
}
/* line 363, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label input#ship-to-different-address-checkbox {
  display: none;
}
/* line 365, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label span:before {
  content: "";
  display: block;
  height: 16px;
  width: 30px;
  border: 2px solid #bbb;
  background: #bbb;
  border-radius: 13em;
  box-sizing: content-box;
  -webkit-transition: all,ease-in-out,.3s;
  -moz-transition: all,ease-in-out,.3s;
  transition: all,ease-in-out,.3s;
  position: absolute;
  top: 4px;
  right: 0;
}
/* line 381, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label span:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: 7px;
  right: 17px;
  border-radius: 13em;
  -webkit-transition: all,ease-in-out,.3s;
  -moz-transition: all,ease-in-out,.3s;
  transition: all,ease-in-out,.3s;
}
/* line 396, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label input[type="checkbox"]:checked + span:before {
  border-color: #000;
  background: #000;
}
/* line 400, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #customer_details h3#ship-to-different-address label input[type="checkbox"]:checked + span::after {
  right: 3px;
}
/* line 409, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout h3#order_review_heading,
.woocommerce .woocommerce-checkout #order_review {
  float: left;
  width: 48.8%;
}
/* line 414, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #order_review {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 421, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #order_review table.shop_table {
  background-color: #FFFFFF;
}
/* line 423, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #order_review table.shop_table tr.cart_item td.product-name {
  padding-left: 25px !important;
}
/* line 428, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #order_review input#place_order {
  display: block;
  float: none;
  width: 75%;
  margin: 0 auto;
  background-color: #0ab726 !important;
}
/* line 434, sass/partials/_plugins.scss */
.woocommerce .woocommerce-checkout #order_review input#place_order:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 442, sass/partials/_plugins.scss */
.woocommerce ul.products li.product {
  max-width: 217px;
}
/* line 443, sass/partials/_plugins.scss */
.woocommerce ul.products li.product h3 {
  padding-top: 15px;
}
/* line 448, sass/partials/_plugins.scss */
.woocommerce ul.products li.product a img {
  margin-bottom: 0px !important;
}
/* line 454, sass/partials/_plugins.scss */
.woocommerce h1.product_title {
  padding-bottom: 30px;
}
/* line 457, sass/partials/_plugins.scss */
.woocommerce .product .summary p.price {
  margin-bottom: 20px;
}

/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\
 */
@media all and (min-width: 960px) {
  /* this layout doesnt work with Cross Sells items... need to modify woocommerce templates for diff. layout
  .woocommerce-cart {
    .woocommerce {
      // cart contents
      table.cart {
        float: left;
        width: 67.9%;
      }
      // proceed to checkout box
      .cart-collaterals {
        float: left;
        width: 31.9%;
        .cart_totals {
          float: none !important;
          width: 100% !important;
          margin: 0 auto;
          padding-left: 40px;
        }
      }
    }
  }
  */
}
/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 505, sass/partials/_plugins.scss */
  .woocommerce {
    /* category page listings (also includes shop module items) */
  }
}
/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\
 */
@media all and (max-width: 479px) {
  /* line 520, sass/partials/_plugins.scss */
  .woocommerce ul.products li.product.type-product,
  .et_pb_shop .woocommerce ul.products li.product.type-product {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/** MOBILE FIRST **/
/**
 * Misc styles
 */
/* line 24, sass/style.scss */
.breadcrumbs {
  line-height: 110%;
  margin-bottom: 20px;
}
/* line 28, sass/style.scss */
.breadcrumbs span[property="name"] {
  max-width: 150px;
  display: inline-block;
  padding: 0;
  margin-top: -3px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 38, sass/style.scss */
.breadcrumbs span[property="name"]:hover {
  max-width: 1000px;
}

/* line 44, sass/style.scss */
.main-menu-callout > a {
  padding: 10px 15px 10px !important;
  margin: -10px 0 0;
  background: #308E20;
  color: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 53, sass/style.scss */
.archive-category-wrapper {
  margin-bottom: 40px;
}

/**
 * End Misc styles
 */
/**
 * Divi Layout overrides
 */
/* line 66, sass/style.scss */
.container,
.et_pb_row {
  width: 90%;
}

/* line 71, sass/style.scss */
.no-right-sidebar #page-container #left-area {
  width: 100%;
  float: none;
  margin: 0 auto;
  padding-right: 0;
}

/**
 * custom classes for Builder modules (for use in the CSS screen)
 */
/* overrides for Shop module on home page (same div as .et_pub_shop) */
/**
 * Divi overrides
 */
/* line 91, sass/style.scss */
body {
  font-weight: 400;
}

/* line 93, sass/style.scss */
.type-post .entry-content p:last-of-type {
  padding-bottom: 1em;
  /* keep padding after last P inside the content area */
}

/* line 97, sass/style.scss */
#main-header {
  box-shadow: none;
}
/* line 99, sass/style.scss */
#main-header .et-cart-info {
  display: none;
}

/* line 102, sass/style.scss */
#et-top-navigation {
  font-weight: 400;
}

/* line 109, sass/style.scss */
#top-menu-nav ul.sub-menu {
  padding: 4px 0;
  width: auto;
}
/* line 113, sass/style.scss */
#top-menu-nav ul.sub-menu li {
  margin: 0;
  padding: 0;
}

/* line 120, sass/style.scss */
#top-menu-nav > ul > li > a:hover,
#et-secondary-menu > ul > li > a:hover,
#et-info-email:hover,
.et-social-icons a:hover {
  opacity: 0.8;
}

/* line 129, sass/style.scss */
#main-content {
  background-color: inherit !important;
}

/* line 134, sass/style.scss */
.et_vertical_nav #main-header .container {
  margin: 0 30px;
}
/* line 135, sass/style.scss */
.et_vertical_nav #logo {
  max-height: 80%;
}

/* Sidebar */
/* line 143, sass/style.scss */
.sidebar-border-disable .container:before {
  background-color: transparent !important;
}
/* line 144, sass/style.scss */
.sidebar-border-disable .et_pb_widget_area_right {
  border-left: 0;
}
/* line 146, sass/style.scss */
.sidebar-border-disable #sidebar .sidebar-inner {
  margin-left: 0 !important;
}

/* line 151, sass/style.scss */
.et_right_sidebar #sidebar {
  padding: 0;
}
/* line 153, sass/style.scss */
.et_right_sidebar #sidebar .sidebar-inner {
  padding: 10px;
}

/* Comments */
/* line 160, sass/style.scss */
.comment .children {
  margin-left: 50px;
}

/* line 164, sass/style.scss */
.comment-body {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/* line 169, sass/style.scss */
.comment-body .comment_postinfo span.fn,
.comment-body .comment_postinfo span.fn a {
  font-weight: 400;
  display: block;
}
/* line 176, sass/style.scss */
.comment-body .comment_area .comment-reply-link {
  top: inherit;
  bottom: 30px;
  padding: 0px 8px !important;
  font-size: 16px;
  font-weight: 400;
}
/* line 182, sass/style.scss */
.comment-body .comment_area .comment-reply-link:hover {
  padding: 0px 8px !important;
  font-size: 16px;
}

/* line 190, sass/style.scss */
#commentform textarea,
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="url"] {
  background-color: #f2f2f2;
  border: medium solid #EEE;
  color: #666;
}

/* Pre Footer */
/* line 201, sass/style.scss */
#pre-footer {
  padding: 20px 0;
}

/* Footer */
/* line 207, sass/style.scss */
footer #footer-bottom {
  padding: 20px 0 80px;
}
/* line 211, sass/style.scss */
footer.powered-by-disable #powered-by {
  display: none;
}
/* line 216, sass/style.scss */
footer #powered-by a {
  font-weight: bold;
  color: inherit;
}

/* line 223, sass/style.scss */
ul#mobile_menu {
  padding: 2% !important;
}

/* builder column */
/* line 228, sass/style.scss */
.home .et_pb_column {
  margin-bottom: 0;
}

/* bloom optin form */
/* line 231, sass/style.scss */
.et_bloom .et_bloom_inline_form {
  margin: 0;
}

/* blurb module */
/* line 234, sass/style.scss */
.et_pb_blurb_content {
  max-width: initial;
}

/* Shop module product overrides */
/* line 237, sass/style.scss */
.et_pb_shop {
  margin-bottom: 0 !important;
}
/* line 239, sass/style.scss */
.et_pb_shop ul.products {
  margin-bottom: 0;
}
/* line 242, sass/style.scss */
.et_pb_shop ul.products li.product h3,
.et_pb_shop ul.products li.product .price {
  display: none !important;
}

/**
 * End Divi overrides
 */
/**
 * Login page styles
 */
/* line 257, sass/style.scss */
body.login {
  background-color: #EAF0EE;
}
/* line 260, sass/style.scss */
body.login div#login {
  width: 100%;
  max-width: 500px;
}
/* line 263, sass/style.scss */
body.login div#login h1 a {
  background: url(images/turnkeyWP-logo.png) no-repeat center center;
  width: 190px;
  height: 50px;
}
/* line 268, sass/style.scss */
body.login div#login form#loginform,
body.login div#login form#lostpasswordform {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.15);
  background: none;
}
/* line 273, sass/style.scss */
body.login div#login form#loginform .forgetmenot,
body.login div#login form#lostpasswordform .forgetmenot {
  float: none;
}
/* line 276, sass/style.scss */
body.login div#login form#loginform p.submit,
body.login div#login form#lostpasswordform p.submit {
  text-align: center;
  margin-top: 20px;
}
/* line 279, sass/style.scss */
body.login div#login form#loginform p.submit input.button-primary,
body.login div#login form#lostpasswordform p.submit input.button-primary {
  float: none;
  background: #0a96b7;
  display: block;
  width: 100%;
  height: auto !important;
  line-height: 38px !important;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 295, sass/style.scss */
body.login div#login #nav,
body.login div#login #backtoblog {
  display: none;
}
/* line 300, sass/style.scss */
body.login div#login #login_error,
body.login div#login .message {
  background-color: rgba(0, 0, 0, 0.05);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 5px;
}
/* line 308, sass/style.scss */
body.login div#login .login-message {
  text-align: center;
}
/* line 311, sass/style.scss */
body.login .login-footer-message {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 0 20px;
  color: #888888;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 318, sass/style.scss */
body.login .login-footer-message p {
  margin-bottom: 1.5em;
}

/**
 * End Login page styles
 */
/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\
 */
@media all and (min-width: 960px) {
  /* line 334, sass/style.scss */
  .container,
  .et_pb_row {
    width: 90%;
  }

  /* line 337, sass/style.scss */
  .breadcrumbs {
    font-size: 85%;
  }

  /* right sidebar */
  /* line 344, sass/style.scss */
  .et_right_sidebar #sidebar .sidebar-inner {
    /* padding: 10px; */
    /* was 20px for some reason*/
    margin-left: 10px;
  }
}
/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 360, sass/style.scss */
  #logo {
    max-height: 100%;
  }

  /* line 362, sass/style.scss */
  #powered-by {
    text-align: center;
  }
}
/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\
 */
@media all and (max-width: 479px) {
  /* line 372, sass/style.scss */
  #powered-by {
    text-align: center;
  }
}
/**
 * Tooltip Styles
 */
/* Add this attribute to the element that needs a tooltip */
/* line 386, sass/style.scss */
[data-tooltip] {
  /*position: relative;*/
  z-index: 99;
  cursor: pointer;
}

/* Hide the tooltip content by default */
/* line 393, sass/style.scss */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
/* line 403, sass/style.scss */
[data-tooltip]:before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.75);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
/*[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}*/
/* Show tooltip content on hover */
/* line 438, sass/style.scss */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
