/*
 * This stylesheet handles styling for ADMIN pages of plugins
 * use ".not-admin" to hide things from non-admin users only
*/

/** MOBILE FIRST **/

// Class added by hwp-admin.js to hide plugin elements
.hwp-hide {
    display: none !important;
    & :before {content: 'test'; display: block !important;}
}

/**
  * White label public pages - hide plugin garbage that can't be hidden with functions
  */

 // all in one seo 
.aioseop_advert, // ad on general settings page
#aiosp_upgrade_wrapper, // notice on page/post options
.aioseop_meta_box_help, // main help button on page/post options
#aiosp_tabbed .aioseop_help_text_div label.aioseop_help_text a,

.aioseop_options_wrapper .postbox h2 a.aioseop_help_text_link, // external "? help" link in section header
.aioseop_options_wrapper .postbox label.aioseop_help_text a, // external links in help text in options boxes 
// wp spam shield
.quicktags-toolbar input#qt_content_wpss_cf, // hide WP Spam Shield insert contact form button on text editor for pages 
.et-pb-option--tiny_mce input#qt_et_pb_content_new_wpss_cf, // WP Spam Shield 
.thirstylink_page_thirsty-settings .thirstyWhiteBox // Thirsty Affiliates self-ads
{display: none;}


// misc. overrides 
.thirstylink_page_thirsty-settings #export_import_controls_container.thirstyWhiteBox {display: inherit;} // need to show this one



// Divi admin overrides
// Theme Options admin page
.not-admin {
    &.toplevel_page_et_divi_options {
        ul#epanel-mainmenu {
            li[aria-controls="wrap-navigation"], // hide navigation tab
            li[aria-controls="wrap-advertisements"], // hide ads tab
            li[aria-controls="wrap-seo"], // hide seo tab
            li[aria-controls="wrap-updates"] // hide updates tab
             {display: none;}
        }
        div#wrap-general {
            #general-1 { // be specific in case divi adds more general tabs
            .epanel-box:nth-of-type(16), // facebook icon
            .epanel-box:nth-of-type(17), // twitter icon
            .epanel-box:nth-of-type(18), // google+ icon
            .epanel-box:nth-of-type(19), // rss icon
            .epanel-box:nth-of-type(20), // facebook url
            .epanel-box:nth-of-type(21), // twitter url
            .epanel-box:nth-of-type(22), // google+ url
            .epanel-box:nth-of-type(23) // rss icon url
             {display: none;}
            }
        }
    } 
}



// end Divi

/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 960px) {


} // end @media


/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 480px) and (max-width: 959px) {


} // end @media


/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (max-width: 479px) {


} // end @media



