/*
 * This stylesheet sets variables and mixins used in other stylesheets 
 * this file is @import in style.scss
*/

/* Use Compass */
@import "compass/css3";


/* Variables */

$login-width: 500px; // size of login box

// colors 
$img-overlay-color: #000000;
$img-cat-border-color: #FFFFFF;


/* end Variables */




/* Mixins */
@mixin img-border($border-color, $border-width, $shadow-size) {
  border: {
    color: $border-color;
    width: $border-width;
    style: solid;
  }
  @include box-shadow(0 0 $shadow-size #BBBBBB !important);  
}

/* end Mixins */
