/*
 * This stylesheet handles styling and style overrides for various plugins
*/

/* Variables */

$img-size-shop_catalog: 215px; // woocommerce catalog image size
$et-shop-image-border-width: 2px;
$cta-button-color: #0ab726; // green

/** MOBILE FIRST **/

/**
  * White label public pages - hide plugin garbage that can't be hidden with functions
  */


// seriously simple podcasting

article.podcast {
  .podcast_meta {
    margin: 5px 0 20px 10px;
    font-size: .9em;
    a:before { //icons
        font-family: "ETmodules";
        padding-right: 5px;
    }
    a.podcast-meta-download:before {content: '\e05f';} // download
    a.podcast-meta-new-window:before {content: '\26';} // new window
  }
}


// WP PageNavi
.wp-pagenavi {
  text-align: center;

  span,
  a,
  a.nextpostslink,
  a.previouspostslink {
    @include border-radius(4px);
    font-size: 15px !important;
    padding: 5px 10px;
    margin: 0 2px;
    font-weight: 400 !important;
    background: #F0F0F0;
    color: #333333 !important;
    &:hover {
      background: #BBBBBB;
      color: #FFFFFF !important;
    }
  }
  span.current {
    font-weight: 700 !important;
    background: #BBBBBB;
    color: #FFFFFF !important;
  }
}




// contact form 7
.wpcf7 {
  .wpcf7-form {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input.text,
    input.title,
    textarea,
    select { // add some default styling
      @include border-radius(2px);
      border: 1px solid #bbb;
      color: #4e4e4e;
      padding: 8px;
      font-size: 14px;
      width: 100%;
      &:focus {
        border: 1px solid #bbb;
        background-color: #f2f2f2;
      }
    }
    
    input[type="submit"],
    input.wpcf7-submit { // add some default styling
      padding: 8px 12px;
      font-size: 14px;
      color: #333333;
      background: #CCCCCC;
      border: none;
      cursor: pointer;
      &:hover {
        background: #AAAAAA;
        border: none;
      }
    }
  }
}  // contact form 7

// WPFront notication bar
#wpfront-notification-bar {
  z-index: 99999 + 1 !important; // make it show up over divi header

  .wpfront-close { // close button
    display: block;
    padding: 0 !important;
    top: 50% !important;
    right: 15px !important;
    margin-top: -11px; // half of height
    width: 22px; // includes 1px border
    height: 22px;
    line-height: 20px !important;
    //hide text
    overflow: hidden;
    &:before { // replace 'x' text with icon font
      font-family: "ETmodules" !important;
      content: '\004D';
      display: block;
      position: relative;
      font-size: 18px;
    }
  }
}

#wpfront-notification-bar-open-button { // expand arrow button
  z-index: 99999 + 1 !important; // make it show up over divi header
  font-family: "ETmodules";
  border: none;
  box-shadow: none;
  right: 15px;
  text-align: center;
  font-size: 20px;
  &.top,
  &.bottom {
    /*background: rgba(0, 0, 0, 0.25); */ /*cant control bg opacity and have the color picker work */
    background-image: none;
    color: #FFF;
  }
  &.top:before {content: "3";}
  &.bottom:before {content: "2";}
}
// end WPFront notication bar

// WooCommerce overrides 

.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text { // quantity to add to cart
  color: #333333 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity { // spacing
  margin-right: 10px !important;
}

// WooCommerce Pagination - matches WP PageNavi styles
.woocommerce-pagination {
  ul.page-numbers {
    border: none !important;
    li {
      @include border-radius(4px);
      border: none !important;
      font-size: 15px !important;
      padding: 0 !important;
      margin: 0 2px !important;
      font-weight: 400 !important;
      background: #F0F0F0;
      a,
      span.current {
        padding: 5px 10px !important;
        color: #333333 !important;
        line-height: 1.2em !important;
        &:hover {
          color: #FFFFFF !important;
          background: #BBBBBB !important;        
        }
      }
      span.current {
        color: #FFFFFF !important;
        font-weight: 700 !important;
        background: #BBBBBB !important;
      }
    }
  }
}

.woo-cart { // cart icon
  position: absolute;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  a {
    padding: 10px 15px;
    font-size: 80%;
    background-color: rgba(255,255,255,0.75); // semi-transparent bg color
    .cart-icon {
      font-family: "ETmodules" !important;
      position: relative;
      top: 1px;
    }
  }
  
}

/* Product Catalog images (used on category pages and divi shop module */
.et_shop_image {
  background-color: transparent;
  @include img-border($img-cat-border-color, $et-shop-image-border-width, 5px); // border color, 

  .home & { // no box-shadow on home page images
    @include img-border($img-cat-border-color, $et-shop-image-border-width, 0px);
  }

  /* customize hover overlay */
  &:hover .et_overlay {background-color: $img-overlay-color;}
  &:hover .et_overlay {@include opacity(.10);}

  /* remove icon on hover */
  .et_overlay {
    border: none; background-color: transparent;
    &:before,
    &:after {display: none;}
  }
  
  /* custom width for product tooltips */
  [data-tooltip]:before {width: 50px;}
}

// /cart page
.woocommerce-cart {
  .woocommerce {
    
    table.cart {
      .product-thumbnail img {
        width: 150px; // remove 32px product img size in Cart table
      }
    }
    // proceed to checkout box
    .cart-collaterals {
      .cross-sells > h2,
      .cart_totals h2 {
        font-size: 1em;
        background: #f1f1f1;
        padding: 10px;
        margin-bottom: 10px;
      }
      table.shop_table {
        margin-bottom: 10px !important;
      }
      .wc-proceed-to-checkout {
        a.checkout-button {
          background-color: $cta-button-color;
          &:hover {
            background-color: $cta-button-color !important;
            @include opacity(0.75);
          }
        }
        // the new checkout button above the cart totals// the new checkout button above the cart totals
        &.above {
          padding-top: 0;
          a.checkout-button {margin-bottom: 0;}
        }
      }
    }
  }
}

.woocommerce-order-received {
  // download link
  table.order_details {
    .download-url {
      font-weight: 700;
      padding: 5px 20px;
      display: inline-block;
      background: #f0f0f0;
      a {text-decoration: underline;}
    }
  }

  // order again button
  .order-again {margin-bottom: 20px !important;}

}

.woocommerce {

  abbr[class="required"],
  .required[title] {
      border-bottom: none;
      text-decoration: none; // remove ... under asterisks* on required fields
  }

  // fix field padding / height issues
  form .form-row input.input-text,
  form .form-row textarea {
    line-height: inherit !important;
    padding: 6px 10px;
  }

  // breadcrumb
  .post-type-archive & .woocommerce-breadcrumb {display: none;}
  .woocommerce-breadcrumb {font-size: .85em;}

  span.onsale {
    @include opacity(.75);
    @include border-radius(14px !important);
    background-color: #0ab726 !important;
    font-size: 15px;
    padding: 2px 10px !important;
  }

  // product page
  .woocommerce-tabs {
    border: none !important;
    ul.tabs {
      background-color: transparent !important;
      &::before {border: none !important;}
      li {
        border-right: 0 !important;
        background-color: transparent !important;
        margin-right: 5px !important;
        &.active,
        &:hover {border-bottom: 3px solid #f0f0f0 !important; } // this uses theme accent color if available (/hwp-inc/customizer.php)
      }
    }
    .woocommerce-Tabs-panel h2 {display: none;} // hide tab section heading
  } 

  // checkout page layout
  .woocommerce-checkout {
    #customer_details {
      float: left;
      width: 48.8%;
      box-sizing: border-box;
      padding-right: 30px;
      .col-1,
      .col-2 {float: none; width: 100%;}

      .col-1 {margin-bottom: 15px;}

      h3#ship-to-different-address { // add a visual cue that this text is expandable
        float: none;

        label {
          cursor: pointer;
          position: relative;
          display: block;
          input#ship-to-different-address-checkbox {display: none;}
          // toggle button effect
          span:before {
            content: "";
            display: block;
            height: 16px;
            width: 30px;
            border: 2px solid #bbb;
            background: #bbb;
            border-radius: 13em;
            box-sizing: content-box;
            -webkit-transition: all,ease-in-out,.3s;
            -moz-transition: all,ease-in-out,.3s;
            transition: all,ease-in-out,.3s;
            position: absolute;
            top: 4px;
            right: 0;
          }
          span:after {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            background: #fff;
            position: absolute;
            top: 7px;
            right: 17px;
            border-radius: 13em;
            -webkit-transition: all,ease-in-out,.3s;
            -moz-transition: all,ease-in-out,.3s;
            transition: all,ease-in-out,.3s;
          }
          // checked / hover state
          input[type="checkbox"]:checked + span:before {
            border-color: #000;
            background: #000;
          }
          input[type="checkbox"]:checked + span::after {
            right: 3px;
          }

        }
      }


    }
    h3#order_review_heading,
    #order_review {
      float: left;
      width: 48.8%;
    }
    #order_review {
      box-sizing: border-box;
      padding: 20px;
      border: 1px solid #ccc;
      background: #f1f1f1;
      @include border-radius(4px);
      // checkout table
      table.shop_table {
        background-color: #FFFFFF;
        tr.cart_item td.product-name {
          padding-left: 25px !important;
        }
      }
      // order button
      input#place_order {
        display: block;
        float: none;
        width: 75%;
        margin: 0 auto;
        background-color: $cta-button-color !important;
        &:hover {@include opacity(0.75);}
      }
    }
  }


  // category page listings (also includes DIVI shop module items)
  ul.products {
    li.product {
      h3 {padding-top: 15px;}
      // set to the size of the catalog images + border
      //width: $img-size-shop_catalog + $et-shop-image-border-width; //220px
      max-width: $img-size-shop_catalog + $et-shop-image-border-width; //220px 
      a {
        img {margin-bottom: 0px !important;}
      }
    }
  }

  // product page
  h1.product_title {padding-bottom: 30px;}
  .product {
    .summary {
      p.price {margin-bottom: 20px;}
    }
  }


} // .woocommerce





/**
 * ////////////////////// Responsive Styles Desktop / large tablets  \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 960px) {

// cart page
/* this layout doesnt work with Cross Sells items... need to modify woocommerce templates for diff. layout
.woocommerce-cart {
  .woocommerce {
    // cart contents
    table.cart {
      float: left;
      width: 67.9%;
    }
    // proceed to checkout box
    .cart-collaterals {
      float: left;
      width: 31.9%;
      .cart_totals {
        float: none !important;
        width: 100% !important;
        margin: 0 auto;
        padding-left: 40px;
      }
    }
  }
}
*/

} // end @media


/**
 * ////////////////////// Responsive Styles Tablet Portrait And Below \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  .woocommerce {
    /* category page listings (also includes shop module items) */
    ul.products {
      li.product {}
    }
  }

} // end @media


/**
 * ////////////////////// Responsive Styles Smartphone Portrait \\\\\\\\\\\\\\\\\\\\\\
 */
@media all and (max-width: 479px) {

  .woocommerce ul.products li.product.type-product, /* stupid divi !importants */
  .et_pb_shop .woocommerce ul.products li.product.type-product { 
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

} // end @media



